<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.cpp.preston.PanicAssist" >

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/SaveMeTheme"
        android:name="edu.cpp.preston.PanicAssist.App">

        <activity
            android:name="edu.cpp.preston.PanicAssist.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.CustomizeAlert"
            android:label="@string/title_activity_customize_alert"
            android:parentActivityName="edu.cpp.preston.PanicAssist.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.PhoneNumbersActivity"
            android:label="@string/title_activity_phone_numbers"
            android:parentActivityName="edu.cpp.preston.PanicAssist.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.HelpActivity"
            android:label="@string/title_activity_help"
            android:parentActivityName="edu.cpp.preston.PanicAssist.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.NotificationAlertActivity"
            android:label="@string/title_activity_notfication"
            android:parentActivityName="edu.cpp.preston.PanicAssist.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.TutorialActivity"
            android:label="@string/title_activity_tutorial"
            android:parentActivityName="edu.cpp.preston.PanicAssist.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="edu.cpp.preston.PanicAssist.MainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.AccountActivity"
            android:label="@string/title_activity_account"
            android:parentActivityName="edu.cpp.preston.PanicAssist.SettingsActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.QuickMessagesActivity"
            android:label="@string/title_activity_quick_messages"
            android:parentActivityName="edu.cpp.preston.PanicAssist.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.EmergencyNumbersActivity"
            android:label="@string/title_activity_emergency_numbers"
            android:parentActivityName="edu.cpp.preston.PanicAssist.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="edu.cpp.preston.PanicAssist.ContactsActivity"
            android:label="@string/title_activity_contacts"
            android:parentActivityName="edu.cpp.preston.PanicAssist.SettingsActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" >
        </activity>
    </application>

</manifest>
